@namespace docFrontend2.Components

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(docFrontend2.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(docFrontend2.Components.Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>